p{
    color: blue;
    font-size: 14px;
}
p:hover{
    color: blue;
}
hover se foloseste atunci cand trecem cu mouse-ul peste text si il 
coloreaza cum vrem noi
#demo {
    color: orangered;
}
#demo:hover{
    color: blueviolet;
}
h1{
    font-size: 12px;
}
#p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: red;
    
}